
<h1> Sign up form</h1>

<form action="/register" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="date" name="dob" >
	<input type="number" name="age" placeholder="enter the age">
	<input type="email" name="email">
	<button>submit</button>
</form>


<h1> this is home page</h1>

<li> <a href="/register">Sign up!</a></li>
<li> <a href="/login">Login</a></li>
<li> <a href="/logout">Logout</a></li>